<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PizzaOrden.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1C8583F1DD97A0F00807984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1C858531DD97A1000807984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1C8585E1DD97A1000807984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
